body {
    
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    color: white;
    font-family: 'Arial', sans-serif; /* Change the font */
}

#Emily {
    text-align: center;
}

#Emily img {
    border: 5px solid white; /* This will add a white border around the image */
}